/* 테이블 스타일 */
#ranking-table {
    /* width: 100%; */
    border-collapse: collapse;
    margin-bottom: 20px;
}

#ranking-table th, #ranking-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px
}

#ranking-table th {
    background-color: #f4f4f4;
}

#ranking-table td {
    word-wrap: break-word; /* 긴 텍스트가 줄바꿈 되도록 */
}

/* 각 컬럼의 너비 고정 */
#ranking-table th:nth-child(1),
#ranking-table td:nth-child(1) {
    width: 40px; /* 순위 컬럼 */
}

#ranking-table th:nth-child(2),
#ranking-table td:nth-child(2) {
    width: 120px; /* 닉네임 컬럼 */
}

#ranking-table th:nth-child(3),
#ranking-table td:nth-child(3) {
    width: 50px; /* 레벨 컬럼 */
}

#ranking-table th:nth-child(4),
#ranking-table td:nth-child(4) {
    width: 50px; /* 상승 컬럼 */
}

#ranking-table th:nth-child(5),
#ranking-table td:nth-child(5) {
    width: 300px; /* 차트 컬럼 */
}

/* 차트 컨테이너 스타일 */
canvas {
    max-width: 100%; /* 차트가 컨테이너의 너비를 넘어가지 않도록 */
    height: auto;
    display: block; /* 불필요한 여백 제거 */
}

.increase-new {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: yellow;
    color: red;
    font-weight: bold;
    font-size: 12px;
}

.increase-positive {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.increase-neutral {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 1288px;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 12px;
}